<h1>Listing episodes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Season</th>
    <th>Number</th>
    <th>Special</th>
    <th>Air date</th>
    <th>show id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @episodes.each do |episode| %>
  <tr>
    <td><%= episode.title %></td>
    <td><%= episode.season %></td>
    <td><%= episode.number %></td>
    <td><%= episode.special %></td>
    <td><%= episode.air_date %></td>
    <td><%= episode.show_id %></td>
    <td><%= link_to 'Show', show_episode_path(episode.show_id, episode) %></td>
    <td><%= link_to 'Edit', edit_show_episode_path(episode.show_id, episode) %></td>
    <td><%= link_to 'Destroy', show_episode_path(episode.show_id, episode), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Episode', new_show_episode_path %>
