<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @episode.title %>
</p>

<p>
  <b>Season:</b>
  <%= @episode.season %>
</p>

<p>
  <b>Number:</b>
  <%= @episode.number %>
</p>

<p>
  <b>Special:</b>
  <%= @episode.special %>
</p>

<p>
  <b>Air date:</b>
  <%= @episode.air_date %>
</p>


<%= link_to 'Edit', edit_show_episode_path(@episode.show_id, @episode) %> |
<%= link_to 'Back', show_episodes_path %>
