<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" dir="ltr" lang="fr-FR">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title><%= yield :title %><%= t(".title") %> - Showire</title>
    <base href="<%= root_url %>" />
    <%= stylesheet_link_tag 'style', :media => :screen %>
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
    <%= javascript_include_tag 'rails' %>
    <%= csrf_meta_tag %>
    <%= yield :additional_css %>
    <%= yield :additional_js %>
  </head>
  <body>
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
